<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="ISO-8859-1">
      <title>Welcome</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <h3>proof getting user object & fields from contoller</h3>
  Username <p th:text="${user.username}"></p>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>