<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    WELCOME VIEW
    Username: [[${username}]]
    <br>
    <h3>contoller paraemters and local variables</h3>
    <tr th:each="entry : ${keymap}">
        <td th:text="${entry.key}"/>
        <td th:text="${entry.value}"/>
        <br>
    </tr>
</div>
</body>
</html></title>
</head>
<body>

</body>
</html>