<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <title>INDEX HTML</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  Existing Contracts:
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <td>AppUserID</td>
      <td>Role</td>
      <td>Text</td>
    </tr>
    </thead>
    <tbody>
      <tr th:each="contract: ${contracts}">
        <td th:text="${contract.getAppUserId()}" />
        <td th:text="${contract.creatorRole}" />
        <td th:text="${contract.getText()}" />
        <br>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <br><br>
  Contract user: [[${username}]]
  <br>
  Security based user: <span sec:authentication="principal.username">User</span>
  <br>
  Security based Roles: <span sec:authentication="principal.authorities">Roles</span>
  <br>
  <br>
</div>
<div class="container">
  <br>
  Create Contract
  <div class="wrapper">
    <div class="title"><span>contract creation form</span></div>
    <form action="#" th:action="@{/contract/create}" th:object="${contract}" method="post">
      <label>Contract Text</label>
      <input type="text" th:field="${contract.text}" id="text" placeholder="text">
      <span th:if="${#fields.hasErrors('text')}" th:errors="${contract.text}"></span>
      <br>

      <label>Role:</label>
      <select name="creatorRole" th:field="${contract.creatorRole}">
        <option th:each="role : ${T(com.prosilion.scdecisionmatrix.model.entity.CreatorRoleEnum).values()}"
            th:value="${role}" th:text="${role.creatorRoleType}"></option>
      </select>
      <br>
      <input type="submit" value="Create Contract">
    </form>
  </div>
</div>
</body>
</html>