<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <title>INDEX HTML</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  Existing Contracts: <span th:text="${contracts} ?: 'NO CONTRACTS'"></span>
  <br>
  Contract user: [[${username}]]
  <br>
  Security based user: <span sec:authentication="principal.username">User</span>
  <br>
  Security based Roles: <span sec:authentication="principal.authorities">Roles</span>
  <br>
</div>
<div class="container">
  Create Contract
  <div class="wrapper">
    <div class="title"><span>contract creation form</span></div>
    <form action="#" th:action="@{/contract/create}" th:object="${contract}" method="post">
      <label>Contract Text</label>
      <input type="text" th:field="${contract.text}" id="text" placeholder="text">
      <span th:if="${#fields.hasErrors('text')}" th:errors="${contract.text}"></span>
      <br>
      <input type="submit" value="Create Contract">
    </form>
  </div>
</div>
</body>
</html>